<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <button class="button-1" role="button" (click)="loadHome($event)">Home</button>
  <button class="button-1" role="button" (click)="loadChart($event)">Status Chart</button>
  <button class="button-1" role="button" (click)="loadChartType($event)">Type Chart</button>
  <button class="button-1" role="button" (click)="logOut($event)">Log Out</button>
</nav>
